# =====================
# CATNIP CONFIG
# =====================

project:
  name: catnip
  description: "Identify Izutsumi!"

paths:
  data: catnip-data/
  
  # --- Training Data ---
  manga_dir: ${paths.data}/data/manga
  annotations_dir: ${paths.data}/data/annotations
  ls_exports_dir: ${paths.data}/data/ls-exports

  # --- Models & outputs ---
  model_dir: ${paths.data}/models
  runs_dir: ${paths.data}/runs
  output_dir: ${paths.data}/results

params:
  img_size: 640
  device: "cpu"  # "mps", "cuda", "cpu"