# =====================
# CATNIP CONFIG
# =====================

project:
  name: catnip
  description: "Identify Izutsumi!"

paths:
  data: data/
  
  # --- Training Data ---
  manga_dir: ${paths.data}/manga
  annotations_dir: ${paths.data}/annotations

  # --- Input data (Legacy) ---
  pages_dir: ${paths.data}/input
  izutsumi_dir: ${paths.data}/recognition/izutsumi
  not_izutsumi_dir: ${paths.data}/recognition/notIzutsumi

  # --- Intermediate results ---
  panels_dir: ${paths.data}/preprocess/panels
  crops_dir: ${paths.data}/preprocess/crops

  embs_dir: ${paths.data}/recognition/embs
  training_dir: ${paths.data}/recognition/izutsumiTraining

  # --- Models & outputs ---
  model_dir: ${paths.data}/models
  output_dir: ${paths.data}/output

params:
  img_size: 128
  device: "cpu"  # "mps", "cuda", "cpu"